a.btn-primary-header {
    padding-top: 10px;
    text-align: center;
    width: 12%;
    height: 46px;
    text-decoration: none;
}

a.btn-primary-signin {
    padding-top: 5px;
    text-align: center;
    width: 26%;
    height: 33px;
    background-color: #ffffff;
    text-decoration: none;
}

.btn-primary-header-text {
    font-family: 'Oswald-SemiBold';
    font-style: normal;
    font-size: 17px;
    color: #ffffff;

}

.btn-primary-signin-text {
    font-family: 'Oswald-Medium';
    font-style: normal;
    font-size: 17px;
    color: #181818;
}

a.btn-carousel-right {
    text-decoration: none;
    width: 30%;
    height: 47px;
    background-color: #a460f9;
    text-align: center;
    padding-top: 11px;
}

p.btn-carousel-right-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
}

a.btn-carousel-right-read {
    text-decoration: none;
    padding-left: 23px;
    letter-spacing: -1px;
    padding-top: 15px;
}

p.btn-carousel-right-read-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
}

.btn-find-course-card-course-container.btn-about {
    justify-content: left;
    margin-left: 183px;
    margin-top: 73px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.prev-btn {
    width: 65px;
    height: 25%;
    text-align: center;
    background-image: url(../../assets/images/left-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.next-btn {
    width: 65px;
    height: 25%;
    text-align: center;
    background-image: url(../../assets/images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

a.btn-find-course-card-course {
    text-decoration: none;
    width: 34%;
    height: 47px;
    background-color: #a460f9;
    text-align: center;
    padding-top: 11px;
}

p.btn-find-course-card-course-text {
    font-family: 'Oswald-Medium';
    color: #ffffff;
}

.btn-find-course-card-course-container {
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

a.btn-find-course-card-course.form {
    text-decoration: none;
    width: 100%;
    height: 64px;
    background-color: #a460f9;
    text-align: center;
    padding-top: 19px;
}

.btn-find-course-card-course-container.form {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 37%;
}

.btn-find-course-card-course-container.btn-why {
    justify-content: left;
    margin-top: 41px;

}

.btn-slider-container-left {
    width: 65px;
    height: 25%;
    text-align: center;
    background-image: url(../../assets/images/left-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.btn-slider-container-right {
    width: 65px;
    height: 25%;
    text-align: center;
    background-image: url(../../assets/images/right-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.buttons-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-slider-left {
    width: 5%;
}

.btn-slider-right {
    width: 5%;
}


/* Dispositivos móviles */
@media (max-width: 480px) {
    /* Estilos para smartphones pequeños */
    .btn-primary-header-text {

        font-size: 8px;

    }
    .btn-primary-signin-text {
        font-size: 8px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para smartphones estándar */

  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para smartphones grandes */

  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para tablets */

  }
  
  /* Pantallas de escritorio */
  @media (min-width: 1200px) and (max-width: 1439px) {
    /* Estilos para pantallas pequeñas */

  }
  
  @media (min-width: 1440px) and (max-width: 1679px) {
    /* Estilos para pantallas medianas */

  }
  
  @media (min-width: 1680px) {
    /* Estilos para pantallas grandes */

  }
