.find-course-card {
    display: flex;
    margin-top: 105px;
    justify-content: space-evenly;
}

.find-course-card-course {
    height: 377px;
    width: 20%;
    border: #ffffff 4px solid;
}

.find-course-card-course-square {
    width: 19%;
    height: 44px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 7px;
    margin-top: -1px;
    margin-left: -1px;
}

p.find-course-card-course-square-text {
    font-family: 'Krub-Bold';
    font-size: 21px;
}

.find-course-card-course-title {
    display: flex;
    width: 100%;
    margin-top: 28px;
    justify-content: center;
}

p.find-course-card-course-title-text-01 {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 35px;
    margin-right: 9px;
}

p.find-course-card-course-title-text-02 {
    font-family: 'Krub-SemiBold';
    color: #aa84f9;
    font-size: 35px;
}

p.find-course-card-course-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 15px;
    line-height: 26px;
}

.find-course-card-course-description {
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
    margin-top: 36px;
}
/* Dispositivos móviles */
@media (max-width: 480px) {

    /* Estilos para smartphones pequeños */
    p.find-course-card-course-square-text{
        font-size: 7px;
    }
    p.find-course-card-course-title-text-01{
        font-size: 10px;
        margin-right: 3px;
    }
    p.find-course-card-course-title-text-02{
        font-size: 10px;
    }
    p.find-course-card-course-text{
        font-size: 5px;
        line-height: 7px;
    }
    .find-course-card {
        margin-top: 22px;
    }
    .find-course-card-course {
        height: 115px;
        border: #ffffff 1px solid;
    }
    .find-course-card-course-square {
        width: 19%;
        height: 14px;
        padding-top: 3px;
        margin-top: -1px;
        margin-left: -1px;
    }
    .find-course-card-course-title {
        margin-top: 9px;
    }
    .find-course-card-course-description {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 5px;
    }
    
}

@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para smartphones estándar */
    p.find-course-card-course-square-text{
        font-size: 10px;
    }
    p.find-course-card-course-title-text-01{
        font-size: 14px;
        margin-right: 7px;
    }
    p.find-course-card-course-title-text-02{
        font-size: 14px;
    }
    p.find-course-card-course-text{
        font-size: 6px;
        line-height: 12px;
    }
    .find-course-card {
        margin-top: 28px;
    }
    .find-course-card-course {
        height: 156px;
        border: #FFFFFF 1px solid;
    }
    .find-course-card-course-square {
        width: 16%;
        height: 18px;
        padding-top: 3px;
        margin-top: -1px;
        margin-left: -1px;
    }
    .find-course-card-course-title {
        margin-top: 9px;
    }
    .find-course-card-course-description {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 17px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para smartphones grandes */
    p.find-course-card-course-square-text{
        font-size: 13px;
    }
    p.find-course-card-course-title-text-01{
        font-size: 21px;
        margin-right: 7px;
    }
    p.find-course-card-course-title-text-02{
        font-size: 21px;
    }
    p.find-course-card-course-text{
        font-size: 8px;
        line-height: 19px;
    }
    .find-course-card {
        margin-top: 60px;
    }
    .find-course-card-course {
        height: 218px;
        border: #FFFFFF 2px solid;
    }
    .find-course-card-course-square {
        width: 16%;
        height: 27px;
        padding-top: 5px;
        margin-top: -1px;
        margin-left: -1px;
    }
    .find-course-card-course-title {
        margin-top: 9px;
    }
    .find-course-card-course-description {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 17px;
    }
}

/* Pantallas de escritorio */
@media (min-width: 992px) and (max-width: 1679px) {
    /* Estilos para pantallas estandar */

    p.find-course-card-course-square-text {
        font-size: 14px;
    }
    p.find-course-card-course-title-text-01 {
        font-size: 21px;
        margin-right: 14px;
    }
    p.find-course-card-course-title-text-02 {
        font-size: 21px;
    }
    p.find-course-card-course-text {
        font-size: 10px;
        line-height: 14px;
    }
    .find-course-card {
        margin-top: 75px;
    }
    .find-course-card-course {
        height: 209px;
        border: #ffffff 1px solid;
    }
    .find-course-card-course-square {
        width: 16%;
        height: 27px;
        padding-top: 4px;
        margin-top: -1px;
        margin-left: -1px;
    }
    .find-course-card-course-title {
        margin-top: 10px;
    }
    .find-course-card-course-description {
        padding-left: 22px;
        padding-right: 22px;
        margin-top: 22px;
    }
}

@media (min-width: 1680px) {
    /* Estilos para pantallas grandes */


    p.find-course-card-course-square-text {
        font-size: 14px;
    }
    p.find-course-card-course-title-text-01 {
        font-size: 21px;
        margin-right: 14px;
    }
    p.find-course-card-course-title-text-02 {
        font-size: 21px;
    }
    p.find-course-card-course-text {
        font-size: 10px;
        line-height: 14px;
    }
    .find-course-card {
        margin-top: 75px;
    }
    .find-course-card-course {
        height: 209px;
        border: #ffffff 1px solid;
    }
    .find-course-card-course-square {
        width: 16%;
        height: 27px;
        padding-top: 4px;
        margin-top: -1px;
        margin-left: -1px;
    }
    .find-course-card-course-title {
        margin-top: 10px;
    }
    .find-course-card-course-description {
        padding-left: 22px;
        padding-right: 22px;
        margin-top: 22px;
    }
}
