.slider {
    width: 100%;
    height: 226px;
    overflow: hidden;
    position: relative;
    background-color: #111111;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Carousel content left */

.carousel-left {
    width: 33.3%;
}

p.carousel-left-text.industry-ui {
    font-family: 'Krub-Bold';
    font-size: 140px;
    color: #ffffff;
}

p.carousel-left-text-purple {
    font-family: 'Krub-Bold';
    font-size: 140px;
    color: #a460f9;
}

p.carousel-left-text.industry-beginner {
    font-family: 'Krub-Regular';
    color: #ffffff;
    font-size: 40px;
}

p.carousel-left-text.industry-s {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 40px;
}

p.carousel-left-text.industry-pro {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
}

.carousel-left-text-square {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
}

.carousel-left-text-container-mc01 {
    display: flex;
    padding-top: 78px;
    padding-left: 46px;
}

.carousel-left-text-container-mc02 {
    display: flex;
    width: 100%;
}

.carousel-left-text-container-mc02-1 {
    padding-top: 71px;
    width: 50%;
    height: 297px;
    display: flex;
    letter-spacing: 6px;
    -webkit-transform: rotate(-90deg);
}

.carousel-left-text-container-mc03 {
    padding-top: 154px;
    display: flex;
    width: 50%;
}

.carousel-left-text.industry-pro-container {
    padding-left: 5px;
    width: 88%;
    overflow: hidden;
}

/* Carousel content center */


.carousel-center {
    width: 33.3%;
}



.slide-content {
    display: flex;
    height: 100%;
}


/* Carousel content right */

.carousel-right {
    width: 33.3%;
    padding-top: 99px;
}

.carousel-right-edition-container {
    border: 2px solid #ffffff;
    width: 43%;
    height: 100px;
    text-align: center;
    padding: 14px 57px 22px 25px;
}

p.carousel-right-edition-text {
    font-family: 'Krub-Regular';
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
}

p.carousel-right-edition-text-2022 {
    font-family: 'Krub-Bold';
    font-size: 33px;
    color: #ffffff;
    letter-spacing: 2px;
}

.carousel-right-edition {
    display: flex;
    justify-content: flex-end;
    margin-right: -3px;
}

p.carousel-right-text-title {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 21px;
}

.carousel-right-container-text-title {
    width: 68%;
    padding-left: 48px;
    padding-top: 65px;
}

p.carousel-right-text-description {
    font-family: 'Krub-SemiBold';
    font-size: 15px;
    color: #ffffff;
    line-height: 26px;
    text-align: justify;
}

.carousel-right-container-text-description {
    padding-left: 48px;
    padding-top: 15px;
    width: 73%;
}

.carousel-right-buttons {
    display: flex;
    padding-left: 44px;
    padding-top: 38px;
}

.slider-bottom {
    display: flex;
    padding-top: 75px;
    width: 100%;
    height: 216px;
    padding-bottom: 60px;
    background-color: #151515;
    overflow: hidden;
}

.slider-bottom-container {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.slider-bottom-container-industry-01-text {
    font-family: 'Krub-Bold';
    color: #a460f9;
    font-size: 45px;
}

p.slider-bottom-container-industry-02-text {
    font-family: 'Oswald-Medium';
    color: #ffffff;
    font-size: 53px;
    letter-spacing: 0px;
}

p.slider-bottom-container-industry-02-text-01 {
    font-family: 'Krub-Regular';
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 1px;
}

p.slider-bottom-container-industry-02-text-02 {
    font-family: 'Krub-SemiBold';
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 1px;
}

.slider-bottom-container-industry-03 {
    padding-left: 14px;
}

.slider-bottom-container-industry-02 {
    padding-left: 5px;
}

.person-01 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/person-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.carousel-center-person-01 {
    width: 100%;
    height: 100%;
}

/* Dispositivos móviles */
@media (max-width: 480px) {

    .slider {
        height: 226px;
    }

    .carousel-center {
        padding-top: 10px;
    }

    .carousel-right {
        padding-top: 20px;
    }

    /* Estilos para smartphones pequeños */
    p.slider-bottom-container-industry-01-text {
        font-size: 14px;
    }

    p.slider-bottom-container-industry-02-text {
        font-size: 16px;
        letter-spacing: 0px;

    }

    p.slider-bottom-container-industry-02-text-01 {
        font-size: 8px;
    }

    p.slider-bottom-container-industry-02-text-02 {
        font-size: 8px;
    }

    p.carousel-left-text.industry-ui {
        font-size: 42px;
    }

    p.carousel-left-text-purple {
        font-size: 42px;
    }

    p.carousel-left-text.industry-beginner {
        font-size: 15px;
    }

    p.carousel-left-text.industry-s {
        font-size: 15px;
    }

    p.carousel-left-text.industry-pro {
        font-size: 5px;
        line-height: 9px;
    }

    p.carousel-right-edition-text {
        font-size: 5px;
    }

    p.carousel-right-edition-text-2022 {
        font-size: 11px;
    }

    p.carousel-right-text-title {
        font-size: 6px;
    }

    p.carousel-right-text-description {
        font-size: 5px;
        line-height: 10px;
    }

    .carousel-left-text-container-mc01 {
        padding-top: 53px;
        padding-left: 19px;
    }

    .carousel-left-text-container-mc02-1 {
        height: 145px;
        padding-top: 61px;
        letter-spacing: 2px;
    }

    .carousel-left-text-container-mc03 {
        padding-top: 29px;
    }

    .carousel-right-edition-container {
        border: 1px solid #ffffff;
        height: 37px;
        padding: 8px 52px 18px 14px;
    }

    .carousel-right-container-text-title {
        width: 79%;
        padding-left: 11px;
        padding-top: 17px;
    }

    .carousel-right-container-text-description {
        padding-left: 11px;
        padding-top: 6px;
    }

    .carousel-right-buttons {
        padding-left: 11px;
        padding-top: 14px;
    }

    p.btn-carousel-right-text {
        font-size: 5px;
    }

    p.btn-carousel-right-read-text {
        font-size: 5px;
    }

    a.btn-carousel-right {
        height: 17px;
        padding-top: 5px;
    }

    .slider-bottom {
        padding-top: 2px;
        height: 72px;
        padding-bottom: 2px;
    }

    .slider-bottom-container-industry-02 {
        padding-left: 1px;
    }

    .slider-bottom-container-industry-03 {
        padding-left: 6px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para smartphones estándar */

    .slider {
        height: 313px;
    }

    .carousel-center {
        padding-top: 10px;
    }

    .carousel-right {
        padding-top: 28px;
    }

    /* Estilos para smartphones pequeños */
    p.slider-bottom-container-industry-01-text {
        font-size: 16px;
    }

    p.slider-bottom-container-industry-02-text {
        font-size: 18px;
        letter-spacing: 0px;
    }

    p.slider-bottom-container-industry-02-text-01 {
        font-size: 10px;
    }

    p.slider-bottom-container-industry-02-text-02 {
        font-size: 10px;
    }

    p.carousel-left-text.industry-ui {
        font-size: 61px;
    }

    p.carousel-left-text-purple {
        font-size: 61px;
    }

    p.carousel-left-text.industry-beginner {
        font-size: 20px;
    }

    p.carousel-left-text.industry-s {
        font-size: 20px;
    }

    .carousel-left-text-square {
        width: 6px;
        height: 6px;
    }

    .carousel-left-text.industry-pro-container {
        padding-left: 5px;
        width: 88%;
    }

    p.carousel-left-text.industry-pro {
        font-size: 7px;
        line-height: 9px;
    }

    p.carousel-right-edition-text {
        font-size: 8px;
    }

    p.carousel-right-edition-text-2022 {
        font-size: 16px;
    }

    p.carousel-right-text-title {
        font-size: 11px;
    }

    p.carousel-right-text-description {
        font-size: 7px;
        line-height: 11px;
    }

    .carousel-left-text-container-mc01 {
        padding-top: 42px;
        padding-left: 19px;
    }

    .carousel-left-text-container-mc02-1 {
        height: 162px;
        padding-top: 53px;
        letter-spacing: 2px;
    }

    .carousel-left-text-container-mc03 {
        padding-top: 84px;
    }

    .carousel-right-edition-container {
        border: 1px solid #ffffff;
        height: 50px;
        padding: 8px 52px 18px 14px;
    }

    .carousel-right-container-text-title {
        width: 79%;
        padding-left: 11px;
        padding-top: 40px;
    }

    .carousel-right-container-text-description {
        padding-left: 11px;
        padding-top: 6px;
    }

    .carousel-right-buttons {
        padding-left: 11px;
        padding-top: 14px;
    }

    p.btn-carousel-right-text {
        font-size: 5px;
    }

    p.btn-carousel-right-read-text {
        font-size: 5px;
    }

    a.btn-carousel-right {
        height: 17px;
        padding-top: 5px;
    }

    .slider-bottom {
        padding-top: 2px;
        height: 73px;
        padding-bottom: 2px;
    }

    .slider-bottom-container-industry-02 {
        padding-left: 1px;
    }

    .slider-bottom-container-industry-03 {
        padding-left: 6px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para smartphones grandes */

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para tablets */

}

/* Pantallas de escritorio */
@media (min-width: 1200px) and (max-width: 1439px) {
    /* Estilos para pantallas pequeñas */

}

@media (min-width: 1440px) and (max-width: 1679px) {
    /* Estilos para pantallas medianas */

}

@media (min-width: 1680px) {
    /* Estilos para pantallas grandes */

}