.find-course {
    width: 100%;
    height: 816px;
}

.find-course-title-bar {
    margin-top: 90px;
    height: 118px;
    display: flex;
    align-items: center;
}

p.find-course-title-bar-industry-01-text {
    font-family: 'Krub-Bold';
    font-size: 119px;
    color: #ffffff;
}

.find-course-title-bar-industry-01 {
    margin-left: 50px;
}

p.find-course-title-bar-industry-02-text {
    font-family: 'Krub-Regular';
    font-size: 45px;
    color: #ffffff;
}

.find-course-title-bar-industry-02 {
    margin-left: 14px;
    margin-top: 36px;
}

.find-course-title-bar-industry-03 {
    margin-left: 668px;
    display: flex;
    margin-top: 54px;
}

.find-course-title-bar-industry-03-square {
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    margin-right: 19px;
    margin-top: 8px;
}

p.find-course-title-bar-industry-03-text {
    font-family: 'Krub-Regular';
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
}

p.find-course-title-bar-industry-03-text-2022 {
    font-family: 'Krub-Bold';
    font-size: 33px;
    color: #ffffff;
    letter-spacing: 2px;
}

.find-course-title-bar-industry-03 {
    display: flex;
}