footer.footer-container {
    width: 100%;
    height: 740px;
    display: flex;
    padding-top: 242px;
    padding-left: 58px;
}

p.footer-container-title-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 1px;
}

.footer-container-left {
    width: 22%;
}

.footer-container-center {
    padding-left: 35px;
}

p.footer-container-item-text {
    font-family: 'Krub-Medium';
    font-size: 25px;
    color: #ffffff;
}

.footer-container-title {
    margin-bottom: 33px;
}

.footer-container-item {
    line-height: 41px;
}

.footer-container-right-title {
    width: 349px;
    margin-left: 179px;
    margin-bottom: 55px;
    padding-left: 33px;
}


input.footer-container-right-input {
    width: 94%;
    height: 67px;
    background-color: transparent;
    border: #ffffff 3px solid;
    color: #ffffff;
    padding-left: 16px;
    font-size: 26px;
    font-family: 'Krub-Medium';
}
.social-container {
    display: flex;
}

footer.footer-container {
    width: 100%;
    height: 740px;
    display: flex;
    padding-top: 242px;
    padding-left: 58px;
    background-color: #976ece;
    overflow: hidden;
}

p.footer-container-title-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 1px;
}

.footer-container-left {
    width: 22%;
}

.footer-container-center {
    padding-left: 35px;
    width: 22%;
}

p.footer-container-item-text {
    font-family: 'Krub-Medium';
    font-size: 25px;
    color: #ffffff;
}

.footer-container-title {
    margin-bottom: 33px;
}

.footer-container-item {
    line-height: 41px;
}

.footer-container-right {
    width: 42%;
    text-align: right;
    padding-right: 15px;
}

p.footer-container-right-title-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 33px;
}

input.footer-container-right-input {
    width: 94%;
    height: 67px;
    background-color: transparent;
    border: #ffffff 3px solid;
    color: #ffffff;
    padding-left: 16px;
    font-size: 26px;
    font-family: 'Krub-Medium';
}
.social-container {
    display: flex;
    margin-top: 53px;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}
p.social-container-follow-text {
    font-family: 'Krub-Medium';
    color: #ffffff;
    font-size: 25px;
}
.facebook-icon{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../css/icons/facebook-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.instagram-icon{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../css/icons/instagram-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.youtube-icon{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../css/icons/youtube-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.social-container-facebook {
    width: 9px;
    height: 9px;
}

.social-container-instagram {
    width: 9px;
    height: 9px;
}

.social-container-youtube {
    width: 9px;
    height: 9px;
}

/* Dispositivos móviles */
@media (max-width: 480px) {

    /* Estilos para smartphones pequeños */
    footer.footer-container {
        width: 100%;
        height: 224px;
        padding-top: 70px;
        padding-left: 21px;
    }
    .footer-container-left {
        width: 20%;
    }
    .footer-container-title {
        margin-bottom: 8px;
    }
    p.footer-container-title-text {
        font-size: 10px;
        letter-spacing: 1px;
    }
    .footer-container-item {
        line-height: 14px;
    }
    p.footer-container-item-text {
        font-size: 7px;
    }
    .footer-container-center {
        padding-left: 25px;
        width: 35%;
    }
    .footer-container-right {
        width: 45%;
        padding-right: 5px;
    }
    .footer-container-right-title {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-left: 46px;
    }
    p.footer-container-right-title-text {
        font-size: 10px;
    }
    input.footer-container-right-input {
        width: 94%;
        height: 23px;
        border: #ffffff 1px solid;
        padding-left: 16px;
        font-size: 8px;
    }
    .social-container {
        margin-top: 21px;
        margin-left: 0px;
    }
    p.social-container-follow-text {
        font-size: 9px;
    }
    .social-container-facebook {
        width: 20px;
        height: 20px;
    }
    
    .social-container-instagram {
        width: 20px;
        height: 20px;
    }
    
    .social-container-youtube {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para smartphones estándar */
    footer.footer-container {
        width: 100%;
        height: 255px;
        padding-top: 70px;
        padding-left: 21px;
    }
    .footer-container-left {
        width: 20%;
    }
    .footer-container-title {
        margin-bottom: 8px;
    }
    p.footer-container-title-text {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .footer-container-item {
        line-height: 14px;
    }
    p.footer-container-item-text {
        font-size: 9px;
    }
    .footer-container-center {
        padding-left: 25px;
        width: 35%;
    }
    .footer-container-right {
        width: 45%;
        padding-right: 15px;
    }
    .footer-container-right-title {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-left: 46px;
    }
    p.footer-container-right-title-text {
        font-size: 12px;
    }
    input.footer-container-right-input {
        width: 94%;
        height: 23px;
        border: #ffffff 1px solid;
        padding-left: 16px;
        font-size: 9px;
    }
    .social-container {
        margin-top: 21px;
        margin-left: 0px;
    }
    p.social-container-follow-text {
        font-size: 9px;
    }
    .social-container-facebook {
        width: 20px;
        height: 20px;
    }
    
    .social-container-instagram {
        width: 20px;
        height: 20px;
    }
    
    .social-container-youtube {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para smartphones grandes */

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para tablets */

}

/* Pantallas de escritorio */
@media (min-width: 1200px) and (max-width: 1439px) {
    /* Estilos para pantallas pequeñas */

}

@media (min-width: 1440px) and (max-width: 1679px) {
    /* Estilos para pantallas medianas */

}

@media (min-width: 1680px) {
    /* Estilos para pantallas grandes */

}