.form-suscribe-left {
    width: 70%;
    height: 100%;
}

.form-suscribe-left-img {
    height: 100%;
    background-image: url(../../assets/images/person-04.png);
    z-index: 0;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.form-suscribe-right {
    width: 30%;
    padding-top: 191px;
    text-align: center;
    background-color: transparent;
    margin-left: -128px;
    z-index: 1;
}

.form-suscribe {
    display: flex;
    height: 1123px;
    width: 100%;
    margin-top: 4%;
    overflow: hidden;
}

p.form-suscribe-title-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 48px;
}

p.form-suscribe-subtitle-text {
    font-family: 'Krub-Regular';
    color: #6c5698;
    font-size: 54px;
}

.form-suscribe-description {
    width: 100%;
}


p.form-suscribe-description-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    line-height: 29px;
    letter-spacing: 1px;
}

.form-suscribe-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 594px;
}

input.form-suscribe-input-name {
    width: 95%;
    height: 11%;
    margin-bottom: 63px;
    background-color: transparent;
    border: #9172d1 3px solid;
    font-size: 18px;
    padding: 9px 20px 3px 37px;
    color: #ffffff;
}

input.form-suscribe-input-mail {
    width: 95%;
    height: 11%;
    margin-bottom: 53px;
    background-color: transparent;
    border: #9172d1 3px solid;
    padding: 0px 20px 3px 37px;
    font-size: 18px;
    color: #ffffff;
}

input.form-suscribe-input-message {
    width: 95%;
    height: 29.7%;
    margin-bottom: 63px;
    background-color: transparent;
    border: #9172d1 3px solid;
    font-size: 18px;
    color: #ffffff;
    padding: 0px 20px 98px 37px;
  }
  
  input.form-suscribe-input-message::placeholder {
    font-family: 'Krub-Bold';
    color: #6a6a6a;
  }
  input.form-suscribe-input-mail::placeholder {
    font-family: 'Krub-Bold';
    color: #6a6a6a;
  }
  input.form-suscribe-input-name::placeholder {
    font-family: 'Krub-Bold';
    color: #6a6a6a;
  }
  
  input.form-suscribe-input-message:focus {
    outline: none;
    border-color: #5f39b8;
  }


   