.start-now {
    width: 100%;
    height: 588px;
    display: flex;
}

p.start-now-left-title-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 20px;
}

.start-now-left-title {
    width: 68%;
    height: 64%;
    padding-left: 27%;
    padding-top: 50%;
}

.start-now-left {
    width: 13%;
    height: 100%;
}

.start-now-left-title-container {
    width: 100%;
}

.start-now-center {
    width: 80%;
}

p.start-now-right-title-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
}

.start-now-left-title-container {}

.start-now-right-title-container {
    text-align: left;
    height: 122px;
    width: 100%;
    margin-top: 61px;
}

.start-now-right {
    width: 13%;
    height: 100%;
}

.start-now-right-title {
    text-align: center;
    width: 68%;
    height: 64%;
    padding-left: 27%;
    padding-top: 50%;
}

p.what-users-think-card-title-text {
    font-family: 'Krub-Bold';
    color: #aeaeae;
    font-size: 18px;
}

.what-users-think-card {
    /* text-align: center; */
    width: 20%;
    height: 468px;
}

.what-users-think-card-container {
    display: flex;
    margin-top: 61px;
    justify-content: space-evenly;
    padding-right: 3%;
    padding-left: 3%;
}

.start-now-left-title-container-img {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/down-arrow-bold.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.start-now-center-container-img {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/image-video.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.start-now-right-title-container-img {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/up-arrow-bold.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

p.what-users-think-card-description-text {
    font-family: 'Krub-SemiBold';
    font-size: 12px;
    color: #aeaeae;
    line-height: 21px;
}

.what-users-think-title {
    text-align: center;
}

p.what-users-think-title-01-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 97px;
}

p.what-users-think-title-02-text {
    font-family: 'Krub-Regular';
    color: #aa84f9;
    font-size: 49px;
}

.what-users-think-title-02 {
    margin-top: -29px;
}

.what-users-think-card-valoration {
    margin-top: 30px;
    height: 30px;
    width: 30px;
}

.what-users-think-card-title {
    margin-top: 14px;
    text-align: center;
}

.what-users-think-card-description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.what-users-think-card-description-icon-01 {
    margin-left: -188px;
    margin-top: 10px;
    width: 100%;
    height: 6px;
}

.what-users-think-card-description-icon-02 {
    margin-left: 165px;
    margin-top: -11px;
}

.what-users-think-card-description-text-container {
    width: 59%;
    margin-left: 56px;
    text-align: justify;
}

.arrow-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.arrow-container-01 {
    margin-right: 42px;
    width: 10px;
    height: 10px;
}
.arrow-container-02 {
    width: 10px;
    height: 10px;
}

.what-users-think {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.what-users-think-card-icon {
    width: 60px;
    height: 60px;
}

.avatar-person-01 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/avatar-person-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.avatar-person-02 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/avatar-person-02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.avatar-person-03 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/avatar-person-03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.rating-bar {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/rating-bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.marks-01 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/marks-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.marks-02 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/marks-02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.left-arrow-bold {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/left-arrow-bold.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.right-arrow-bold {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/right-arrow-bold.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

/* Dispositivos móviles */
@media (max-width: 480px) {

    /* Estilos para smartphones pequeños */

    .start-now {
        height: 224px;
    }

    .start-now-left-title {
        width: 82%;
        height: 100%;
        padding-left: 17%;
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .start-now-right-title {
        width: 82%;
        height: 100%;
        padding-left: 27%;
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .what-users-think {
        height: 252px;
    }

    p.what-users-think-title-01-text {
        font-size: 26px;
    }

    .what-users-think-title-02 {
        margin-top: -5px;
    }

    p.what-users-think-title-02-text {
        font-size: 14px;
    }

    .what-users-think-card-container {
        margin-top: 24px;
        padding-right: 3%;
        padding-left: 3%;
    }

    .what-users-think-card {
        width: 20%;
        height: 468px;
    }

    .what-users-think-card-icon {
        width: 100%;
        height: 60px;
    }

    .what-users-think-card-title {
        margin-top: 7px;
    }

    p.what-users-think-card-title-text {
        font-size: 7px;
    }

    .what-users-think-card-valoration {
        margin-top: 0px;
        height: 30px;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
    .what-users-think-card-description-icon-01 {
        margin-left: -41px;
        margin-top: -1px;
        width: 100%;
        height: 6px;
    }
    .what-users-think-card-description-text-container {
        width: 100%;
        margin-left: 1px;
    }
    p.what-users-think-card-description-text {
        font-size: 5px;
        line-height: 8px;
    }
    .what-users-think-card-description-icon-02 {
        margin-left: 37px;
        margin-top: -4px;
        width: 100%;
        height: 6px;
    }
    .arrow-container {
        margin-top: 7px;
    }
    .arrow-container-01 {
        margin-right: 42px;
        width: 20px;
        height: 10px;
    }
    .arrow-container-02 {
        width: 20px;
        height: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para smartphones estándar */

    .start-now {
        height: 265px;
    }

    .start-now-left-title {
        width: 82%;
        height: 100%;
        padding-left: 17%;
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .start-now-right-title {
        width: 82%;
        height: 100%;
        padding-left: 27%;
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .what-users-think {
        height: 275px;
        margin-top: 42px;
    }

    p.what-users-think-title-01-text {
        font-size: 26px;
    }

    .what-users-think-title-02 {
        margin-top: -5px;
    }

    p.what-users-think-title-02-text {
        font-size: 14px;
    }

    .what-users-think-card-container {
        margin-top: 24px;
        padding-right: 3%;
        padding-left: 3%;
    }

    .what-users-think-card {
        width: 20%;
        height: 180px;
    }

    .what-users-think-card-icon {
        width: 100%;
        height: 60px;
    }

    .what-users-think-card-title {
        margin-top: 7px;
    }

    p.what-users-think-card-title-text {
        font-size: 7px;
    }

    .what-users-think-card-valoration {
        margin-top: 8px;
        height: 8px;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
    .what-users-think-card-description-icon-01 {
        margin-left: -46px;
        margin-top: 9px;
        width: 100%;
        height: 6px;
    }
    .what-users-think-card-description-text-container {
        width: 100%;
        margin-left: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    p.what-users-think-card-description-text {
        font-size: 6px;
        line-height: 9px;
    }
    .what-users-think-card-description-icon-02 {
        margin-left: 37px;
        margin-top: -4px;
        width: 100%;
        height: 6px;
    }
    .arrow-container {
        margin-top: 7px;
    }
    .arrow-container-01 {
        margin-right: 42px;
        width: 20px;
        height: 10px;
    }
    .arrow-container-02 {
        width: 20px;
        height: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para smartphones grandes */

    .start-now {
        height: 350px;
        margin-top: 55px;
    }

    .start-now-left-title {
        width: 82%;
        height: 100%;
        padding-left: 17%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .start-now-right-title {
        width: 82%;
        height: 100%;
        padding-left: 27%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .what-users-think {
        height: 380px;
        margin-top: 50px;
    }

    p.what-users-think-title-01-text {
        font-size: 50px;
    }

    .what-users-think-title-02 {
        margin-top: -8px;
    }

    p.what-users-think-title-02-text {
        font-size: 26px;
    }

    .what-users-think-card-container {
        margin-top: 30px;
        padding-right: 4%;
        padding-left: 4%;
    }

    .what-users-think-card {
        width: 33.33%;
        height: 200px;
    }

    .what-users-think-card-icon {
        width: 100%;
        height: 80px;
    }

    .what-users-think-card-title {
        margin-top: 10px;
    }

    p.what-users-think-card-title-text {
        font-size: 12px;
    }

    .what-users-think-card-valoration {
        margin-top: 12px;
        height: 12px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .what-users-think-card-description-icon-01 {
        margin-left: -60px;
        margin-top: 17px;
        width: 100%;
        height: 8px;
    }

    .what-users-think-card-description-text-container {
        width: 100%;
        margin-left: 1px;
        padding-left: 91px;
        padding-right: 94px;
    }

    p.what-users-think-card-description-text {
        font-size: 8px;
        line-height: 13px;
    }

    .what-users-think-card-description-icon-02 {
        margin-left: 54px;
        margin-top: -4px;
        width: 100%;
        height: 8px;
    }

    .arrow-container {
        margin-top: 15px;
    }

    .arrow-container-01 {
        margin-right: 97px;
        width: 35px;
        height: 20px;
    }

    .arrow-container-02 {
        width: 35px;
        height: 20px;
    }
}


/* Pantallas de escritorio */
@media (min-width: 992px) and (max-width: 1679px) {
    /* Estilos para pantallas estandar */
    .start-now {
        height: 667px;
        margin-top: 80px;
    }

    .start-now-left-title {
        width: 47%;
        height: 100%;
        padding-left: 20%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .start-now-right-title {
        width: 54%;
        height: 100%;
        padding-left: 27%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .what-users-think {
        height: 562px;
        margin-top: 50px;
    }

    p.what-users-think-title-01-text {
        font-size: 73px;
    }

    .what-users-think-title-02 {
        margin-top: -8px;
    }

    p.what-users-think-title-02-text {
        font-size: 40px;
    }

    .what-users-think-card-container {
        margin-top: 30px;
        padding-right: 4%;
        padding-left: 4%;
    }

    .what-users-think-card {
        width: 33.33%;
        height: 200px;
    }

    .what-users-think-card-icon {
        width: 100%;
        height: 163px;
    }

    .what-users-think-card-title {
        margin-top: 10px;
    }

    p.what-users-think-card-title-text {
        font-size: 22px;
    }

    .what-users-think-card-valoration {
        margin-top: 12px;
        height: 22px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .what-users-think-card-description-icon-01 {
        margin-left: -99px;
        margin-top: 17px;
        width: 100%;
        height: 14px;
    }

    .what-users-think-card-description-text-container {
        width: 100%;
        margin-left: 1px;
        padding-left: 122px;
        padding-right: 122px;
    }

    p.what-users-think-card-description-text {
        font-size: 13px;
        line-height: 26px;
    }

    .what-users-think-card-description-icon-02 {
        margin-left: 99px;
        margin-top: -20px;
        width: 100%;
        height: 14px;
    }

    .arrow-container {
        margin-top: 53px;
    }

    .arrow-container-01 {
        margin-right: 182px;
        width: 79px;
        height: 45px;
    }

    .arrow-container-02 {
    width: 79px;
    height: 45px;
    }
}

@media (min-width: 1680px) {
    /* Estilos para pantallas grandes */
    .start-now {
        height: 667px;
        margin-top: 80px;
    }

    .start-now-left-title {
        width: 47%;
        height: 100%;
        padding-left: 20%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .start-now-right-title {
        width: 54%;
        height: 100%;
        padding-left: 27%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .what-users-think {
        height: 562px;
        margin-top: 50px;
    }

    p.what-users-think-title-01-text {
        font-size: 73px;
    }

    .what-users-think-title-02 {
        margin-top: -8px;
    }

    p.what-users-think-title-02-text {
        font-size: 40px;
    }

    .what-users-think-card-container {
        margin-top: 30px;
        padding-right: 4%;
        padding-left: 4%;
    }

    .what-users-think-card {
        width: 33.33%;
        height: 200px;
    }

    .what-users-think-card-icon {
        width: 100%;
        height: 163px;
    }

    .what-users-think-card-title {
        margin-top: 10px;
    }

    p.what-users-think-card-title-text {
        font-size: 22px;
    }

    .what-users-think-card-valoration {
        margin-top: 12px;
        height: 22px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .what-users-think-card-description-icon-01 {
        margin-left: -99px;
        margin-top: 17px;
        width: 100%;
        height: 14px;
    }

    .what-users-think-card-description-text-container {
        width: 100%;
        margin-left: 1px;
        padding-left: 122px;
        padding-right: 122px;
    }

    p.what-users-think-card-description-text {
        font-size: 13px;
        line-height: 26px;
    }

    .what-users-think-card-description-icon-02 {
        margin-left: 99px;
        margin-top: -20px;
        width: 100%;
        height: 14px;
    }

    .arrow-container {
        margin-top: 53px;
    }

    .arrow-container-01 {
        margin-right: 182px;
        width: 79px;
        height: 45px;
    }

    .arrow-container-02 {
    width: 79px;
    height: 45px;
    }
}
