
.start-now {
    display: flex;
    margin-top: 112px;
    margin-left: 26px;
}

p.start-now-left-title-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
    margin-top: 53px;
}

.start-now-left-title {
    text-align: center;
}

.start-now-left {
    margin-top: 227px;
    margin-left: -12px;
}

.start-now-left-title-container {
    text-align: right;
    height: 381px;
    width: 131px;
    margin-top: 65px;
}

.start-now-center {
    margin-left: 56px;
}

p.start-now-right-title-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
}

.start-now-left-title-container {}

.start-now-right-title-container {
    text-align: left;
    height: 122px;
    width: 127px;
    margin-top: 61px;
}

.start-now-right {
    margin-top: 207px;
    margin-left: 36px;
    padding-left: 23px;
}

.start-now-right-title {
    text-align: center;
}

p.what-users-think-card-title-text {
    font-family: 'Krub-Bold';
    color: #aeaeae;
    font-size: 18px;
}

.what-users-think-card {
    text-align: center;
    width: 397px;
    height: 468px;
}

.what-users-think-card-container {
    display: flex;
    margin-top: 61px;
    justify-content: space-evenly;
    padding-right: 3%;
    padding-left: 3%;
}

p.what-users-think-card-description-text {
    font-family: 'Krub-SemiBold';
    font-size: 12px;
    color: #aeaeae;
    line-height: 21px;
}

.what-users-think-title {
    text-align: center;
}

p.what-users-think-title-01-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 97px;
}

p.what-users-think-title-02-text {
    font-family: 'Krub-Regular';
    color: #aa84f9;
    font-size: 49px;
}

.what-users-think-title-02 {
    margin-top: -29px;
}

.what-users-think-card-valoration {
    margin-top: 30px;
}

.what-users-think-card-title {
    margin-top: 14px;
}

.what-users-think-card-description {
    /* width: 291px; */
    display: flex;
    flex-direction: column;
}

.what-users-think-card-description-icon-01 {
    margin-left: -246px;
    margin-top: 10px;
}
.what-users-think-card-description-icon-02 {
    margin-left: 226px;
    margin-top: -11px;
}
.what-users-think-card-description-text-container {
    width: 59%;
    margin-left: 82px;
}
.arrow-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.arrow-container-01 {
    margin-right: 131px;
}