.start-now {
    width: 100%;
    height: 588px;
    display: flex;
}

p.start-now-left-title-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 20px;
}

.start-now-left-title {width: 68%;height: 64%;padding-left: 27%;padding-top: 50%;}

.start-now-left {
    width: 13%;
    height: 100%;
}

.start-now-left-title-container {
    width: 100%;
}

.start-now-center {
    width: 80%;
}

p.start-now-right-title-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
}

.start-now-left-title-container {}

.start-now-right-title-container {
    text-align: left;
    height: 122px;
    width: 100%;
    margin-top: 61px;
}

.start-now-right {
    width: 13%;
    height: 100%;
}

.start-now-right-title {
    text-align: center;
    width: 68%;
    height: 64%;
    padding-left: 27%;
    padding-top: 50%;
}

p.what-users-think-card-title-text {
    font-family: 'Krub-Bold';
    color: #aeaeae;
    font-size: 18px;
}

.what-users-think-card {
    text-align: center;
    width: 20%;
    height: 468px;
}

.what-users-think-card-container {
    display: flex;
    margin-top: 61px;
    justify-content: space-evenly;
    padding-right: 3%;
    padding-left: 3%;
}

.start-now-left-title-container-img {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/down-arrow-bold.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.start-now-center-container-img {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/image-video.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.start-now-right-title-container-img {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/up-arrow-bold.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

p.what-users-think-card-description-text {
    font-family: 'Krub-SemiBold';
    font-size: 12px;
    color: #aeaeae;
    line-height: 21px;
}

.what-users-think-title {
    text-align: center;
}

p.what-users-think-title-01-text {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 97px;
}

p.what-users-think-title-02-text {
    font-family: 'Krub-Regular';
    color: #aa84f9;
    font-size: 49px;
}

.what-users-think-title-02 {
    margin-top: -29px;
}

.what-users-think-card-valoration {
    margin-top: 30px;
}

.what-users-think-card-title {
    margin-top: 14px;
}

.what-users-think-card-description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.what-users-think-card-description-icon-01 {
    margin-left: -188px;
    margin-top: 10px;
}

.what-users-think-card-description-icon-02 {
    margin-left: 165px;
    margin-top: -11px;
}

.what-users-think-card-description-text-container {
    width: 59%;
    margin-left: 56px;
}

.arrow-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.arrow-container-01 {
    margin-right: 131px;
}