.why-us {
    height: 773px;
    background-image: url(../../assets/images/backgroud-explore.png);
    display: flex;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    padding-left: 3%;
    overflow: hidden;
}
.why-us-left-container-img{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/person-03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

p.why-us-right-description-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
}

.why-us-left {width: 57%;height: 100%;}

.why-us-right-title {
    display: flex;
    margin-top: 131px;
}

p.why-us-right-text-01 {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 63px;
}

p.why-us-right-text-02 {
    font-family: 'Krub-Regular';
    font-size: 63px;
    color: #aa84f9;
    margin-left: 25px;
}

.why-us-right {
    width: 60%;
    padding-left: 10%;
}

.why-us-right-description {
    margin-top: 23px;
    width: 56%;
    text-align: justify;
}

/* Dispositivos móviles */
@media (max-width: 480px) {

    /* Estilos para smartphones pequeños */
    .why-us {
        height: 236px;
        padding-left: 2%;
    }
    .why-us-left {
        width: 50%;
        height: 235px;
    }
    .why-us-right {
        width: 50%;
        padding-left: 6%;
    }
    .why-us-right-title {
        margin-top: 63px;
    }
    p.why-us-right-text-01 {
        font-size: 16px;
    }
    p.why-us-right-text-02 {
        font-size: 16px;
        margin-left: 4px;
    }
    .why-us-right-description {
        margin-top: 6px;
        width: 76%;
    }
    p.why-us-right-description-text {
        font-size: 5px;
        line-height: 7px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* Estilos para smartphones estándar */
    .why-us {
        height: 385px;
        padding-left: 2%;
    }
    .why-us-left {
        width: 50%;
        height: 275px;
    }
    .why-us-right {
        width: 50%;
        padding-left: 6%;
    }
    .why-us-right-title {
        margin-top: 63px;
    }
    p.why-us-right-text-01 {
        font-size: 16px;
    }
    p.why-us-right-text-02 {
        font-size: 16px;
        margin-left: 4px;
    }
    .why-us-right-description {
        margin-top: 10px;
        width: 55%;
    }
    p.why-us-right-description-text {
        font-size: 6px;
        line-height: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para smartphones grandes */

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para tablets */

}

/* Pantallas de escritorio */
@media (min-width: 1200px) and (max-width: 1439px) {
    /* Estilos para pantallas pequeñas */

}

@media (min-width: 1440px) and (max-width: 1679px) {
    /* Estilos para pantallas medianas */

}

@media (min-width: 1680px) {
    /* Estilos para pantallas grandes */

}