.why-us {
    height: 773px;
    background-image: url(../../assets/images/backgroud-explore.png);
    display: flex;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    padding-left: 3%;
}
.why-us-left-container-img{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/person-03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

p.why-us-right-description-text {
    font-family: 'Krub-SemiBold';
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
}

.why-us-left {width: 57%;height: 100%;}

.why-us-right-title {
    display: flex;
    margin-top: 131px;
}

p.why-us-right-text-01 {
    font-family: 'Krub-Bold';
    color: #ffffff;
    font-size: 63px;
}

p.why-us-right-text-02 {
    font-family: 'Krub-Regular';
    font-size: 63px;
    color: #aa84f9;
    margin-left: 25px;
}

.why-us-right {
    width: 60%;
    padding-left: 10%;
}

.why-us-right-description {
    margin-top: 23px;
    width: 56%;
    text-align: justify;
}

